/* Tổng thể */
body {
  margin: 0;
  font-family: 'Roboto', 'Noto Sans Vietnamese', sans-serif;
  background-color: #bce6ff;
  text-align: center;
}

/* Header */

.header {
  display: flex;
  align-items: center; /* Căn giữa dọc */
  justify-content: flex-start; /* Căn trái */
  padding: 10px;
  background: linear-gradient(135deg, #9a9cea, #a2b9ee);}

.logo {
  border-radius: 180px;
  width: 180px;
  margin-left: 40px;
  margin-right: 80px;
}

.header h1 {
  font-size: 3rem;
  color: #d7dadd;
  margin-bottom: 20px;
}

/* Phần thân trang */
.main {
  display: flex;
  height: calc(100vh - 200px);
}

/* Menu */
/* Menu dọc bên trái */
.menu {
  display: flex;
  flex-direction: column; /* Hiển thị menu theo chiều dọc */
  background: linear-gradient(150deg,#95afed, #87d7f0);
  width: 200px; /* Đặt độ rộng cho menu */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.menu button {
  padding: 10px;
  margin: 10px 0;
  background-color: #8474ff;
  color: white; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%; /* Chiếm toàn bộ chiều rộng */
  text-align: center; /* Căn trái chữ */
  font-size: 16px;
}

.icon {
  height: 1em; 
  vertical-align: middle; /* Đảm bảo căn chỉnh giữa icon và chữ */
  margin-right: 0.5em; 
}

.menu button:hover {
  background-color: #8982ed;
}

/* Khi menu được ẩn, bạn có thể cho nó trượt vào */
.menu-hidden {
  display: none;
}




/* Card chung */
.card {
  background: linear-gradient(135deg,#c5c8fa, #afb1f1);
  border: 1px solid #232735;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h2 {
  font-size: 1.5rem;
  color: #3a0751;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin: 5px 0;
}

/* Hiệu ứng hover */
.card:hover, .history-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px #494f6b;
}

/* Bố cục Flexbox */
.container {
  flex-grow: 1;
  display: flex; /* Chia container thành hai phần */
  justify-content: space-between; /* Đẩy các phần tử con ra hai phía */
  gap: 20px;
  padding: 20px 20px 0 20px;
  align-items: stretch;
  overflow-y: auto;
}

/* Cột bên trái */
.left-column {
  flex: 2; /* Chiếm 2 phần không gian */
  display: flex;
  flex-direction: column; /* Các card nằm theo chiều dọc */
  gap: 15px;
}

/* Cột bên phải */
.right-column {
  flex: 1 1 45%; /* Giảm chiếm 45% không gian và có thể co giãn */
  text-align: center; /* Biểu đồ căn giữa */
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
  justify-content: flex-start; /* Đảm bảo các phần tử không bị căn giữa */
  align-items: center; /* Căn các phần tử theo chiều ngang */
  max-width: 800px; /* Đặt chiều rộng tối đa là 800px */
  margin: 0 auto; /* Căn giữa cột */
}

.chart {
  background: linear-gradient(135deg,#c5c8fa, #afb1f1);
  border: 1px solid #232735;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 0 20px; /* Thêm padding để tránh các phần tử bị quá gần nhau */
  width: 100%; /* Đảm bảo mỗi biểu đồ chiếm đầy đủ không gian */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 10px;
  height: 100vh;
}

/* Tiêu đề biểu đồ */
.chart-title {
  font-size: 1.5rem;
  color: #3a0751;
  margin-bottom: 20px; /* Tạo khoảng cách giữa tiêu đề và biểu đồ */
}

/* Thẻ chứa biểu đồ */
.chart-container {
  width: 100%;
  height: 485px; /* Bạn có thể thay đổi chiều cao của biểu đồ theo nhu cầu */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Màu nền của phần biểu đồ */
  border-radius: 10px;
}

.history {
  padding: 10px;
  width: 100%;

}

.history-list {
  list-style-type: none;
  padding: 0;
}

.history-list li {
  background: linear-gradient(135deg,#b6b8f0, #acaef0);
  border: 1px solid #232735;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.history-list p {
  margin: 2px 0;
}

.hight-light {
  font-size: 24px;
  color: #f0694f;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Đổi bố cục sang dọc */
  }
  .right-column {
    margin-top: 20px;
  }
}
